<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <i class="fas fa-grin-alt"></i>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->

    <%= link_to "+ new restaurant", new_restaurant_url, method: :get%>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
<h1>Here are all the restaurants</h1>
<% @restaurants.each do |restaurant| %>
<div class="col-md-6 offset-md-6">
  <div class="card" style="background-color: white;">
  <div class="card-body">
  <h2 class="card-title"><%= restaurant.name %></h2>
  <h3 class="card-text">Address: <%= restaurant.address %></h3>
  <p class="card-text">Phone number: <%= restaurant.phone_number %></p>
  <p class="card-text">category: <%= restaurant.category %></p>
  <p class="card-text">stars: <%= restaurant.stars %></p>
  <p><%= link_to restaurant.name, restaurant_path(restaurant), method: :get%></p>
  <%= link_to restaurant_path(restaurant), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
</div>
</div>
<% end %>
